
 
.fix-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.fix-form-content{
    width: 450px;
    height: 650px;
    background-color: #fff;
    border-radius: 5px;
    border: 20px solid #E9967A;
}
.fix-form-content form {
    padding: 0 40px;
}
.fix-form-content form label{
    justify-content: left;
}
.fix-form-content  h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #333;
    position: relative;
}
.fix-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px ;
    border:1px solid #333;
    cursor: pointer;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
   
}   
.fix-form-content form p{
    font-size: 16px;
    padding-top: 5px;
}
.fix-form-content form input,select {
    height: 30px;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
 }
 .fix-form-content form button {
    margin-top: 20px;
    height: 40px;    
    width: 80%;
    cursor: pointer;
     background-color:  #f97e0e;
     outline: none;
     border: none;
     color: #fff;
     border-radius: 5px;

 }
