.login-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #040403;
    display: none;
    z-index: 999;
}
.login-form-content{
    width: 350px;
    height: 250px;
    background-color: #d3a5d3;
    border-radius: 5px;
}


.login-form-content form {
    padding: 0 10px;
}
.login-form-content  h2 {
    font-size: 18px;
    padding: 12px 0;
    border-bottom: 1px solid #333;
    position: relative;
}
.login-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px ;
    border:1px solid #333;
    cursor: pointer;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    margin-right: -10px;
   
}   
.login-form-content  > .login-submit{
    width: 30%;
}

.login-form-content form input {
    height: 30px;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
 }
.login-form-content form .login-input:hover{
    background-color:#686161 ;
}


